<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptteng.dao.UserMessageMapper">
  <resultMap id="BaseResultMap" type="com.ptteng.model.UserMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="article_state" jdbcType="INTEGER" property="articleState" />
    <result column="send_time" jdbcType="BIGINT" property="sendTime" />
    <result column="article_picture" jdbcType="VARCHAR" property="articlePicture" />
    <result column="send_target" jdbcType="BIGINT" property="sendTarget" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_title, article_content, article_state, send_time, article_picture, send_target, 
    create_at, update_at, create_by, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ptteng.model.UserMessage">
    insert into user_message (id, article_title, article_content, 
      article_state, send_time, article_picture, 
      send_target, create_at, update_at, 
      create_by, update_by)
    values (#{id,jdbcType=BIGINT}, #{articleTitle,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR}, 
      #{articleState,jdbcType=INTEGER}, #{sendTime,jdbcType=BIGINT}, #{articlePicture,jdbcType=VARCHAR}, 
      #{sendTarget,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ptteng.model.UserMessage">
    insert into user_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="articleState != null">
        article_state,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="articlePicture != null">
        article_picture,
      </if>
      <if test="sendTarget != null">
        send_target,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleState != null">
        #{articleState,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="articlePicture != null">
        #{articlePicture,jdbcType=VARCHAR},
      </if>
      <if test="sendTarget != null">
        #{sendTarget,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ptteng.model.UserMessage">
    update user_message
    <set>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="articleState != null">
        article_state = #{articleState,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="articlePicture != null">
        article_picture = #{articlePicture,jdbcType=VARCHAR},
      </if>
      <if test="sendTarget != null">
        send_target = #{sendTarget,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ptteng.model.UserMessage">
    update user_message
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      article_state = #{articleState,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=BIGINT},
      article_picture = #{articlePicture,jdbcType=VARCHAR},
      send_target = #{sendTarget,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>